*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

h1{
    color: #5c4033;
    font-size: 26px;
}

#subtitulo-menu{
    font-size: 15px;
}

h2{
    font-size: 48px;
    margin-bottom: 20px;
}


p{
    color: #5c4033;
    font-size: 20px;
}

body {
    width: 99.8%;
    background-color: #fff8f3;
    font-family: Arial, sans-serif;
    text-align: center;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    border: 3px solid #5c4033 ;
    margin: 1px;

}

nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2EBDB;
    color: #5c4033;

    li{
        display: inline;
        padding: 20px;
    }
}

main{

    padding: 20px 20px;
}

section{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-text{
    flex: 1;
}

.hero img{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

button {
  background-color: #8b4513;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
}